.focus {
     color: lawngreen;
     font-style: italic;
}
img{
     width: 200px;
     border-radius: 100px;
     margin-right: 10px;
     
 }
 p{
      color: rgb(19, 9, 172);
 }
 background{
      color: yellowgreen;
 }